In [1]:
# Recursion In python
#Lets take an exaple of factorial

def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n * factorial(n-1)

In [3]:
factorial(5)

120

In [9]:
#  Here is an example of fibonaacci sequence
def fibonnaci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
      return fibonnaci(n-1)+fibonnaci(n-2)

In [14]:
fibonnaci(5)

5

In [ ]:
# Sets in Python (collection of welldefined obects)
#it can  store different data types

In [17]:
s1={1,2,3,4,5}
s2={2,3,4,6}
s3=s1.union(s2)

In [18]:
s3

{1, 2, 3, 4, 5, 6}

In [19]:

s4={3,4,5,6}
# We can use the update function to merge the valuesfrom two sets in one

s4.update(s3)

In [20]:
s4

{1, 2, 3, 4, 5, 6}

Adding and Removing Elements:

add(element): Adds a single element to the set.
update(iterable): Adds elements from an iterable to the set.
remove(element): Removes the specified element from the set. Raises a KeyError if the element is not present.
discard(element): Removes the specified element from the set if it is present. Does not raise an error if the element is not found.
pop(): Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.

In [21]:
my_set = {1, 2, 3}

my_set.add(4)
my_set.update([5, 6])

my_set.remove(3)
my_set.discard(2)

popped_element = my_set.pop()

Set Operations:

union(other_set): Returns a new set containing all unique elements from both sets.
intersection(other_set): Returns a new set containing common elements between two sets.
difference(other_set): Returns a new set with elements present in the current set but not in the other set.
symmetric_difference(other_set): Returns a new set with elements present in either of the sets, but not in both.
issubset(other_set): Returns True if the current set is a subset of the other set.
issuperset(other_set): Returns True if the current set is a superset of the other set.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

Set Operations In-Place:

update(other_set): Updates the current set with elements from another set (in-place union).
intersection_update(other_set): Updates the current set with common elements from another set (in-place intersection).
difference_update(other_set): Updates the current set by removing elements present in another set (in-place difference).
symmetric_difference_update(other_set): Updates the current set with elements present in either of the sets, but not in both (in-place symmetric difference).

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
set1.intersection_update(set2)
set1.difference_update(set2)
set1.symmetric_difference_update(set2)